<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.libtest1">

    <application>
        <activity
                android:name=".FullscreenActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:label="@string/title_activity_fullscreen"
                android:theme="@style/FullscreenTheme">
        </activity>
        <activity
                android:name=".ui.login.LoginActivity"
                android:label="@string/title_activity_login"
                android:theme="@style/AppTheme">
        </activity>
    </application>

</manifest>